<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= lista_add %>

    <p>Artist Name
      <input type="text" id="artist_namn" placeholder="Artist name">
    </p>

    <p>Artist Song
      <input type="text" id="artist_song" placeholder="Artist song">
    </p>
    <p>Artist Spotify link
      <input type="text" id="artist_spotify" placeholder="Artist Spotify link">
    </p>
    <p>Artist YouTube link
      <input type="text" id="artist_youtube" placeholder="Artist YouTube link">
    </p>
    <p>Artist image link
      <input type="text" id="artist_img" placeholder="Artist image link">
    </p>
    <input type="button" value="Save">





  </body>
</html>
