<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  top40

  <% JSON.parse(lista).forEach(function(item) { %>
    <%- item.Year.top2011.top40.id.top01 %>
  <% }; %>
</body>

</html>
