<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Top Hits 40 Songs of 2011<%= title %></h1>
    <h1>Adele<%= title %></h1>
    <p>Rolling In The Deep <%= title %></p>
    <span>http://open.spotify.com/track/7h8Ud480Fm4ReUVxgFF9ZX</span>
    <span>http://youtu.be/rYEDA3JcQqw</span>

  </body>
</html>
