<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	<img  src="/images/top-40.png" class="top40"  >
	<div class="text" > 
<<<<<<< HEAD
       <h1>Top Hits 40 Songs of 2011</h1>
       <h2>Adele</h2>
       <p>Rolling In The Deep</p>
	</div> 
      <a href="http://open.spotify.com/track/7h8Ud480Fm4ReUVxgFF9ZX " target="_blank"><img src="/images/spotify.png" class="spotify" ></a>
    <a href="http://youtu.be/rYEDA3JcQqw" target="_blank"><img src="/images/youtube.png" class="youtube" ></a>
=======
           <h1>Top Hits 40 Songs of 2011</h1>
           <h2>Adele</h2>
           <p>Rolling In The Deep</p>
	</div> 
      <a href="http://open.spotify.com/track/7h8Ud480Fm4ReUVxgFF9ZX " target="_blank"><img src="/images/spotify.png" class="spotify" ></a>
      <a href="http://youtu.be/rYEDA3JcQqw" target="_blank"><img src="/images/youtube.png" class="youtube" ></a>
>>>>>>> d90bce20e1b2c778e5446f84414ecec43529e366

  </body>
</html>
