<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Top Hits 40 Songs of 2011<%= title %></h1>
    <h2>Adele<%= title %></h2>
    <p>Rolling In The Deep <%= title %></p>
      <a href="http://open.spotify.com/track/7h8Ud480Fm4ReUVxgFF9ZX " target="_blank"><img src="/images/spotify.jpg"></a>
    <a href="http://youtu.be/rYEDA3JcQqw" target="_blank"><img src="/images/youtube.png"></a>
  </body>
</html>
