<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  top40

<%  for (var key in lista) { %>
  <% if (lista.hasOwnProperty(key)) { %>
   <%-  lista.id.top01 %>
  <%} %>
<%}%>


</body>

</html>
